EXPO_PUBLIC_AWS_REGION=your-aws-region
EXPO_PUBLIC_AWS_ACCESS_KEY_ID=your-aws-access-key-id
EXPO_PUBLIC_AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
EXPO_PUBLIC_AWS_BUCKET_NAME=your-aws-bucket-name
EXPO_PUBLIC_AWS_COLLECTION_ID=your-aws-collection-id